requests  # Enables the webscraper itself to work
pysocks  # Enables proxy support
fake-useragent  # Fake user agents to confuse Neal
ndg-httpsclient  # requests requirement
pyopenssl  # requests requirement
pyasn1  # requests
pymongo  # database operations
gitpython  # push to API repo
ujson  # Speedy json for rip_librarian
urllib3  # Another requests dep